div#about.container.row
	div.columns.large-6.large-offset-3.small-8.small-offset-2
		p.
			Hello, my name is Farren. I'm into crafting, cooking, and coding, and I'm happy you're here! This website, my website, is a personal project to experiment with a bit of the technical knowledge I've picked up over the years of my individual and institutional education.
		p.
			My first website was made with HTML and Flash &ndash; just enough HTML to get the Flash loading! What a pain that was. Now, feeling very modern, I've whipped up (read: slaved away at) something in CSS grid, flex, and some javascript to make things move and it feels GOOD.
		p.
			Thanks for taking the time to visit. Check back soon, and maybe there will be something new to see!