header#header.is-grid-grid
	div.is-social-link-1
		a( href='https://www.ravelry.com/people/Frish', target='_blank' )
			i.fa.fa-ravelry( aria-hidden='true' )
	
	div.is-avatar
		div.avatar
			img(src='img/avatar.png', alt='farren')
		
	div.is-social-link-2
		a( href='https://github.com/Zaggamok', target='_blank' )
			i.fa.fa-github( aria-hidden='true' )
	
	div.is-nav

		h1.nav
			a.nav-btn#nav-about(href='#') ABOUT
			a.nav-btn#nav-projects(href='#') PROJECTS
		p.
			Peruse at your leisure :)