div#projects.is-subgrid

	include ../mixins
	
	+masonJar('Wordpress site','<p>Customising a wordpress template was a first. The way it&rsquo;s done is really cool, but all the same I&rsquo;m glad to dabble rather than delve. What I did not know when starting this project was that Wordpress templates store their HTML in a database. Navigating the includes and tweaking the styles, the site is now, proudly, a far cry from Wen Business 2017.</p><p><a target="_blank" href="http://www.gingerjarblue.com.au">www.gingerjarblue.com.au</a></p>', '<img src="../img/gjb-blog.png" alt="ginger jar blue wordpress blog">' , 'gjb.png')
	
	+masonJar('GDMA Infographic 2016', '<p>"Can you make this year&rsquo;s infographic," they said. "Do I have a choice?" I said. "When can we expect this done?" They said.</p><p>Not that I really mind, of course &ndash; it&rsquo;s not a bad way to spend an afternoon. Plus it&rsquo;s a great way to keep up with the latest trends in data-driven marketing which is.... datalicious.</p>', '<a href="../doc/GDMA_infographic_2016_insights.pdf" target="_blank">See full PDF here</a>', 'GDMA_2016.jpg')
	
	+masonJar('GDMA Infographic 2015', '<p>"Can anybody make an infographic?" They said. "Sure," I said.</p><p>Armed with no more than Photoshop familiarity (mainly from a web-usage rather than content creation point of view, mind), a can-do (read: naive) attitude, and a healthy dose of optimism, this infographic was a fun little project that had me out of my usual field of expertise.</p>', '<a href="../doc/GDMA_infographic_2015_insights.pdf" target="_blank">See full PDF here</a>', 'GDMA_2015.jpg')