div.row
	div.small-12.columns
		header#header
			span.avatar
				img(src='img/avatar.png', alt='farren')
			h1.nav
				a(href="#") PROJECTS
			p.
				Peruse at your leisure. Work in progress; watch this space :)