div.row
	div.small-12.columns
		header#header
			span.avatar
				img(src='img/avatar.png', alt='farren')
			h1
				a(href="#") ABOUT
				a(href="#") PROJECTS
				a(href="#") CONTACT
			p.
				lorem ipsum sandwhichum
				more text