link(rel='stylesheet', type='text/css', href='//cdn.rawgit.com/noelboss/featherlight/1.7.6/release/featherlight.min.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.css')
link(rel='stylesheet', type='text/css', href='css/styles.css')
link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Source+Sans+Pro')