div.row
	div.large-12.columns
		div.masonry-css
			
			+masonJar('yo wassup', '../img/gold.jpg')
			
			+masonJar('nm u?', '../img/toucan.jpg')
			
			+masonJar('hello world', '../img/content04.jpg')
			
			+masonJar('I think therefore I am. -- Descartes', '')
			
			+masonJar('', '../img/toucan.jpg')